In [40]:
from fossa.utils import dummy_data

In [41]:
MIN_VAL = 1000
MAX_VAL = 1200
NUM_CATEG = 3

In [42]:
sorted_df = dummy_data(5, NUM_CATEG, MIN_VAL, MAX_VAL)

In [43]:
sorted_df

                     value
date       category
2011-01-01 0          1037
           1          1130
           2          1062
2011-01-02 0          1028
           1          1049
           2          1175
2011-01-03 0          1139
           1          1015
           2          1121
2011-01-04 0          1089
           1          1084
           2          1151
2011-01-05 0          1121
           1          1186
           2          1035

In [44]:
from collections import deque

In [45]:
N = 6

In [46]:
committee = deque(maxlen=N)

In [47]:
committee

deque([])

In [48]:
def add_window(dt_ix, window):
    committee.append((dt_ix, window))

In [49]:
last_n_windows_ix = sorted_df.index.levels[0][-N:]

In [50]:
last_n_windows_ix

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05'],
              dtype='datetime64[ns]', name='date', freq=None)

In [51]:
for ix in last_n_windows_ix:
    print(ix)
    add_window(ix, sorted_df.loc[ix])

2011-01-01 00:00:00
2011-01-02 00:00:00
2011-01-03 00:00:00
2011-01-04 00:00:00
2011-01-05 00:00:00

In [52]:
committee

deque([(Timestamp('2011-01-01 00:00:00'),           value
        category
        0          1037
        1          1130
        2          1062), (Timestamp('2011-01-02 00:00:00'),           value
        category
        0          1028
        1          1049
        2          1175), (Timestamp('2011-01-03 00:00:00'),           value
        category
        0          1139
        1          1015
        2          1121), (Timestamp('2011-01-04 00:00:00'),           value
        category
        0          1089
        1          1084
        2          1151), (Timestamp('2011-01-05 00:00:00'),           value
        category
        0          1121
        1          1186
        2          1035)])

In [53]:
sorted_df2 = dummy_data(12, NUM_CATEG, MIN_VAL, MAX_VAL)
sorted_df2.iloc[-6:]

                     value
date       category
2011-01-11 0          1007
           1          1056
           2          1102
2011-01-12 0          1109
           1          1064
           2          1068

In [54]:
last_n_windows_ix2 = sorted_df2.index.levels[0][-N:]

In [55]:
for ix in last_n_windows_ix2:
    print(ix)
    add_window(ix, sorted_df2.loc[ix])

2011-01-07 00:00:00
2011-01-08 00:00:00
2011-01-09 00:00:00
2011-01-10 00:00:00
2011-01-11 00:00:00
2011-01-12 00:00:00

In [56]:
committee

deque([(Timestamp('2011-01-07 00:00:00'),           value
        category
        0          1180
        1          1176
        2          1129), (Timestamp('2011-01-08 00:00:00'),           value
        category
        0          1196
        1          1105
        2          1153), (Timestamp('2011-01-09 00:00:00'),           value
        category
        0          1091
        1          1121
        2          1018), (Timestamp('2011-01-10 00:00:00'),           value
        category
        0          1050
        1          1061
        2          1115), (Timestamp('2011-01-11 00:00:00'),           value
        category
        0          1007
        1          1056
        2          1102), (Timestamp('2011-01-12 00:00:00'),           value
        category
        0          1109
        1          1064
        2          1068)])

In [62]:
for dt, window in reversed(committee):
    print(dt)
    print(window)

2011-01-12 00:00:00
          value
category
0          1109
1          1064
2          1068
2011-01-11 00:00:00
          value
category
0          1007
1          1056
2          1102
2011-01-10 00:00:00
          value
category
0          1050
1          1061
2          1115
2011-01-09 00:00:00
          value
category
0          1091
1          1121
2          1018
2011-01-08 00:00:00
          value
category
0          1196
1          1105
2          1153
2011-01-07 00:00:00
          value
category
0          1180
1          1176
2          1129

In [65]:
callable(add_window)

True

In [69]:
for weight, x in zip([2, 5, 9, 4, 1, 8], reversed(committee)):
    print(weight)
    dt, window = x
    print(dt)
    print(window)

2
2011-01-12 00:00:00
          value
category
0          1109
1          1064
2          1068
5
2011-01-11 00:00:00
          value
category
0          1007
1          1056
2          1102
9
2011-01-10 00:00:00
          value
category
0          1050
1          1061
2          1115
4
2011-01-09 00:00:00
          value
category
0          1091
1          1121
2          1018
1
2011-01-08 00:00:00
          value
category
0          1196
1          1105
2          1153
8
2011-01-07 00:00:00
          value
category
0          1180
1          1176
2          1129