In [5]:
from fossa.utils import dummy_data, pad_windows

In [3]:
df1 = dummy_data(num_days=1, num_categories=2, min_val=1, max_val=5)
df1

                     value
date       category
2011-01-01 0             4
           1             4

In [4]:
df2 = dummy_data(num_days=1, num_categories=3, min_val=1, max_val=5)
df2

                     value
date       category
2011-01-01 0             2
           1             4
           2             4

In [7]:
df1.loc[df1.index.levels[0][0]]

          value
category
0             4
1             4

In [9]:
df1_pad, df2_pad = pad_windows(df1.loc[df1.index.levels[0][0]], df2.loc[df2.index.levels[0][0]])

In [10]:
df1_pad

   value
0    4.0
1    4.0
2    0.0